body {
    background-color: #1a254c;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.heading {
    padding: 8px;
    background-color: #364156;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.source-link {
    text-decoration: none;
    color: white;
}

.scoring {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4rem;
}

.name {
    font-size: 24px;
    font-weight: bold;
}

.player-score,
.bot-score {
    font-size: 32px;
}

.player,
.bot {
    text-align: center;
}

.rock,
.paper,
.scissors {
    width: 300px;
    height: 350px;
    background-color: #212d40;
    border-radius: 12px;
    text-align: center;
}

.options {
    display: flex;
    padding: 16px;
    justify-content: space-between;
}

.icon {
    margin: 8px;
    background-color: rgb(150, 150, 150);
    border-radius: 12px;
}

.winner-screen,
.set-over {
    text-align: center;
}

.next-round-btn,
.reset-btn {
    padding: 6px 16px;
    border: 2px solid white;
    border-radius: 12px;
    width: 200px;
    text-align: center;
    margin: 0 auto;
}